name: Format Code

on:
  push:

jobs:
  format:
    name: Format Code
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Format Code with Prettier
        uses: creyD/prettier_action@v4.3
        with:
          prettier_options: --write --tab-width 4 **/*.{js,md}
